<h1>ROOM SHOW</h1>
<%= image_tag @room.image %>
<%= @room.type_of_room %>
<%= @room.capacity %>
<%= @room.price %>
<script>
  flatpickr(".flatpickr", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    minDate: "today"
  });
</script>
<%= simple_form_for [@room, @booking] do |f| %>
  <%= f.input :arrival_date, as: :date %>
  <%= f.input :departure_date, as: :date %>
  <%= f.submit 'Schedule your appointment' %>
<% end %>
