<h1>Hotels#show</h1>
<% @hotels.each do |hotel| %>
  <%= image_tag url_for(hotel.image) %>
  <%= hotel.name %>
  <%= hotel.address %>
  <%= hotel.city %>
  <%= hotel.country %>
  <%= hotel.rating %>

  <%= link_to "Voir les chambres disponibles", hotel_rooms_path(hotel_id: hotel.id) %>
<% end %>
